<launch>

<rosparam file="$(find model_missile_description)/launch/controller.yaml" command="load"/>
<!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="model_missile_controller" args="fins_rev1_position_controller fins_rev2_position_controller fins_rev3_position_controller fins_rev4_position_controller wings_fold1_position_controller wings_fold2_position_controller wings_fold3_position_controller wings_fold4_position_controller fin_fold1_position_controller fin_fold2_position_controller fin_fold3_position_controller fin_fold4_position_controller joint_state_controller "/> -->
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="model_missile_controller" args="fins_rev1_position_controller fins_rev2_position_controller fins_rev3_position_controller fins_rev4_position_controller "/>
<!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="model_missile_controller" args="wings_fold1_position_controller wings_fold2_position_controller wings_fold3_position_controller wings_fold4_position_controller fin_fold1_position_controller fin_fold2_position_controller fin_fold3_position_controller fin_fold4_position_controller joint_state_controller "/> -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/model_missile/joint_states"/>
</node>

</launch>