<launch>

    <arg name="sim_world" default="$(find ssm_worlds)/big_world.world"/>
    <!-- <arg name="sim_world" default="$(find ssm_worlds)/komodo_island.world"/> -->
    <arg name="launcher_file" default="$(find launcher_basic_description)/basic_launcher.urdf"/>
    <!-- <arg name="launcher_file" default="$(find launcher20deg_half_description)/launcher20deg_half.urdf"/> -->
    <!-- <arg name="launcher_file" default="$(find launcher20deg_description)/launcher20deg.urdf"/> -->

    <arg name="x_launcher" default="-18000"/>
    <arg name="y_launcher" default="0.0"/>
    <arg name="z_launcher" default="0.0"/>
    <arg name="R_launcher" default="0.0"/>
    <arg name="P_launcher" default="0.0"/>
    <arg name="Y_launcher" default="0.0"/>

    <arg name="miss_deg" default="-0.349029"/>
    <arg name="y_miss" default="0.0"/>

    <!-- using exocet canister -->
    <!-- <arg name="x_miss" default="-0.342484"/> -->
    <!-- <arg name="z_miss" default="1.662578"/> -->

    <!-- using basic launcher -->
    <arg name="z_miss" default="1.332034"/>
    <arg name="x_miss" default="-0.194658"/>

    <!-- <include file="$(find model_missile_description)/launch/spawn_launcher.launch">
        <arg name="urdf" value="$(arg launcher_file)"/>
        <arg name="x" value="$(arg x_launcher)"/>
        <arg name="y" value="$(arg y_launcher)"/>
        <arg name="z" value="$(arg z_launcher)"/>
        <arg name="R" value="$(arg R_launcher)"/>
        <arg name="P" value="$(arg P_launcher)"/>
        <arg name="Y" value="$(arg Y_launcher)"/>
    </include> -->

    <include file="$(find model_missile_description)/launch/spawn_missile.launch">
        <arg name="x" value="$(eval arg('x_launcher') + arg('x_miss'))"/>
        <arg name="y" value="$(eval arg('y_launcher') + arg('y_miss'))"/>
        <arg name="z" value="$(eval arg('z_launcher') + arg('z_miss'))"/>
        <arg name="P" value="$(arg miss_deg)"/>
    </include>
    
    <include file="$(find model_missile_description)/launch/controller.launch"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg sim_world)"/>
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

</launch>