<?xml version="1.0"?>
<model>
    <name>launcher20deg</name>
    <version>1.0</version>
    <sdf>launcher20deg.urdf</sdf>

    <author>
        <name>Muhammad Abiyyu Mufti Hanif</name>
        <email>mamuftihanif@gmail.com</email>
    </author>

    <description>
        exocet mm40 b3 launcher with 20 degre launch angle
    </description>
</model>