<?xml version="1.0"?>
<model>
    <name>basic_launcher</name>
    <version>1.0</version>
    <sdf>basic_launcher.urdf</sdf>

    <author>
        <name>Muhammad Abiyyu Mufti Hanif</name>
        <email>mamuftihanif@gmail.com</email>
    </author>

    <description>
        basic launcher with 20 degre launch angle
    </description>
</model>