<?xml version="1.0" ?>
<robot name="20deg_launcher" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find exocet_20deg_launcher)/urdf/materials.xacro" />
<xacro:include filename="$(find exocet_20deg_launcher)/urdf/20deg_launcher.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.581064554209247 -2.1485566505985686e-16 1.032824471007952" rpy="0 0 0"/>
    <mass value="174217.96585404052"/>
    <inertia ixx="142419.847107" iyy="549705.903859" izz="526964.183043" ixy="-0.0" iyz="-0.0" ixz="-83436.377751"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://exocet_20deg_launcher/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="darkgrey"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://exocet_20deg_launcher/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
